{
    "url":
    {
        "auth": "username:password",
	    "hostname": "host.name.com",
	    "port": "port number",
	    "path": "/go/cctray.xml",
	    "protocol": "http:"
    },
    "protocol": "http"
}
