<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <style type="text/css" media="screen">
            body{
                background-color:black;
            }
            .Success{
                background-color: green;
            }
            .Failure{
                background-color: red;
            }
            .item {
                font-weight: bold;
                float: left;
                margin: 4px;
                width: 40%;
                font-size: 33px;
                height: 118px;
                border-radius: 10px;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div id="container" data-bind="foreach: projects">
            <div class='item' data-bind="css: $.lastBuildStatus">
                <span data-bind="text: $.name"></span>
            </div>
        </div>

        <p></p>
        <script src="/socket.io/socket.io.js"></script>
        <script
            src="/javascripts/knockout-2.3.0.js"></script>

        <script type='text/javascript'>
            function AppViewModel() {
                this.projects =ko.observableArray([]);
            }
var appViewModel = new AppViewModel();
ko.applyBindings(appViewModel);
io = io.connect();
io.emit('tray')
io.on('talk', function(data) {
        appViewModel.projects(data.message.Projects.Project);
        }); 
</script>
<script type="text/javascript" defer="defer"></script>

</body>
</html>
